
.mainpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 800px;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  header {

  position: relative;
  width: 100%;
  font-family: "Quicksand", serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
  }
  
  .mainpage h1 {
    font-size: 60px; 
    color: #2a9d8f;
    margin-bottom: 20px;
  }
  
  .mainpage p {
    font-size: 19px; 
    color: #555;
    max-width: 600px;
    font-family: "Quicksand", serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  .mainpage-button {
    background-color: #2a9d8f;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; 
    transition: background-color 0.3s ease;
    
  }
  
  .mainpage-button:hover {
    background-color: #21867a;
  }
  .logo {
    width: 300px; 
    height: auto; 
    margin-bottom: 20px; 
    justify-content: center;
  }
  .fitness1{
    width: 300px; 
    height: auto; 
    margin-bottom: 20px; 
  }
  .main-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 800px; 
    font-family: "Quicksand", serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   
  }
  .card-container {
  
    display: flex;
    flex-direction: column;
    align-items: center;
  font-family: "Quicksand", serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   
  }
  .logo-and-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    
    
  }
  .in-card-container{
    
      display: flex; 
      flex-wrap: wrap; 
      flex-direction: column;
      justify-content: space-evenly; 
      gap: 20px; 
      font-family: "Quicksand", serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
    
  }
  .card{
   
    max-width: 600px;
    margin-bottom: 50px;
    font-family: "Quicksand", serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
    
  }
  .card-2{
    
    max-width: 600px;
    margin-bottom: 50px;
    font-family: "Quicksand", serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
  }
  .card-3{
   
    max-width: 600px;
    margin-bottom: 50px;
    font-family: "Quicksand", serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
  }
  .baslik{
    color: #21867a;
   

  }
  /*.button-card-container{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #21867a;
  }*/
 
  .link{
    color: white;
   text-decoration: none;
   font-family: "Quicksand", serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
  }

  footer{
    display: flex;
    background-color: whitesmoke;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    padding: 10px 0;
    
  }

 .first-part{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  
 }
 .text-first {
  color: black;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5px;
  margin-right: 5px;
  
 
}
 .about {
  display: flex;
  align-items: center;
}
 .info{
  width: 24px;
  height: 24px;
  margin-right: 8px;
 }
 .contact{
  margin-right: 8px;

 }
 .contact-i{
  width: 24px;
  height: 24px;
  margin-right: 8px;
 }
 .faq-i{
  width: 24px;
  height: 24px;
  margin-right: 8px;
 }
 .second-part{
  display: flex;
  flex-direction: column;

 }
 .logo-part .logo{
  width: 100px;
  height: 100px;
  opacity: 70%;
 }
 .cookie-i{
  width: 24px;
  height: 24px;
  margin-right: 8px;
 }
 .quality-i{
  width: 24px;
  height: 24px;
  margin-right: 8px;
 }
 .shield-i{
  width: 24px;
  height: 24px;
  margin-right: 8px;
 }

 